
@import url(../font/SourceSansPro.ttf);

* {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

html, body {
  max-height: 100%;
}

#content-container {
  width: 100%;
  min-height: calc(100% - 103px);
  padding-top: 53px;
  margin-top: 53px;
  top: 53px;
  padding-bottom: 0px
  bottom: 0;
  top: 0;
}

iframe, object, embed {
  width: 100%;
}

.btn-custom {
  background: #58778D !important;
  color: #F3F3F3;
}

.btn-custom:hover {
  background: #58778D !important;
  color: #333333;
}

a.custom-link {
  color: #58778D !important;
}

#top-nav .nav > li > a {
  color: #F3F3F3;
}

#top-nav .nav > li > a:hover {
  color: #58778D;
}

.navbar-brand {
  font-size: 22px;
}

.navbar .btn {
  font-size: 20px;
}

#top-nav .navbar-brand {
  color: #F3F3F3;
}

#top-nav .navbar-brand:hover {
  color: #58778D;
}

.navbar-inverse {
 background: #333333 !important;
}

#bottom-nav {
  width: 100%;
  height: 50px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  left: 0px;
  right: 0px;
  bottom: 0;
  background: #333333;
  color: #F3F3F3;
}

.li-nav-pad-left {
  padding-left: 30px;
}

