
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../font/SourceSansPro.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro Semibold Italic';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Italic'), url(../font/SourceSansPro-SemiboldItalic.ttf) format('truetype');
}


* {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

html, body {
  max-height: 100%;
}

.bold-italic {
  font-size: 36px !important;
  font-family: 'Source Sans Pro Semibold Italic';
}

#content-container {
  width: 100%;
  min-height: calc(100% - 103px);
  padding-top: 53px;
  margin-top: 53px;
  top: 53px;
  padding-bottom: 0px
  bottom: 0;
  top: 0;
}

iframe, object, embed {
  width: 100%;
}

.btn-custom {
  background: #58778D !important;
  color: #F3F3F3;
}

.btn-custom:hover {
  background: #58778D !important;
  color: #333333;
}

a.custom-link {
  color: #58778D !important;
}

#top-nav .nav > li > a {
  color: #F3F3F3;
}

#top-nav .nav > li > a:hover {
  color: #58778D;
}

.navbar-brand {
  font-size: 20px;
}

.navbar .btn {
  font-size: 18px;
}

#top-nav .navbar-brand {
  color: #F3F3F3;
}

#top-nav .navbar-brand:hover {
  color: #58778D;
}

/* Overwrite default background */
.navbar-inverse {
 background: #333333 !important;
}

/* Bottom navbar */
#bottom-nav {
  width: 100%;
  height: 50px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  left: 0px;
  right: 0px;
  bottom: 0;
  background: #333333;
  color: #F3F3F3;
}

.li-nav-pad-left {
  padding-left: 30px;
}

/* Fix two line (eg wrapped) input labels not lining up with input fields */
.form-control.two-line-input {
  margin-top: 10px;
  margin-bottom: 10px;
}
