tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	text-align:center;}
.xl66
	{mso-style-parent:style0;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;}
.xl67
	{mso-style-parent:style0;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;}
.xl68
	{mso-style-parent:style0;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;}
.xl71
	{mso-style-parent:style0;
	mso-number-format:"Medium Time";
	text-align:center;}
.xl72
	{mso-style-parent:style0;
	mso-number-format:"Medium Time";
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;}
.xl73
	{mso-style-parent:style0;
	mso-number-format:"Medium Time";
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	mso-number-format:"Medium Time";
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	color:white;
	mso-number-format:"Medium Time";
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:black;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	color:white;
	mso-number-format:"Medium Time";
	text-align:center;
	background:black;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style0;
	color:white;
	mso-number-format:"Medium Time";
	text-align:center;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:black;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style0;
	color:white;
	mso-number-format:"Medium Time";
	text-align:center;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:black;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	mso-number-format:"Medium Time";
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style0;
	color:windowtext;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style0;
	text-align:center;
	background:#002060;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style0;
	color:windowtext;
	text-align:center;
	background:#FFC000;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style0;
	text-align:center;
	background:#00B0F0;
	mso-pattern:black none;}
.xl86
	{mso-style-parent:style0;
	color:white;
	text-align:center;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#494529;
	mso-pattern:black none;}
.xl87
	{mso-style-parent:style0;
	text-align:center;
	background:red;
	mso-pattern:black none;}
.xl88
	{mso-style-parent:style0;
	color:white;
	text-align:center;
	background:#002060;
	mso-pattern:black none;}
.xl89
	{mso-style-parent:style0;
	text-align:center;
	background:#FFC000;
	mso-pattern:black none;}
.xl90
	{mso-style-parent:style0;
	color:windowtext;
	text-align:center;
	background:#00B0F0;
	mso-pattern:black none;}
.xl91
	{mso-style-parent:style0;
	text-align:center;
	background:#7030A0;
	mso-pattern:black none;}
.xl92
	{mso-style-parent:style0;
	color:white;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl93
	{mso-style-parent:style0;
	color:white;
	text-align:center;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl94
	{mso-style-parent:style0;
	mso-number-format:"Short Time";
	text-align:center;
	background:red;
	mso-pattern:black none;}
.xl95
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#00B050;
	mso-pattern:black none;}
.xl96
	{mso-style-parent:style0;
	color:white;
	text-align:center;
	background:black;
	mso-pattern:black none;}
.xl97
	{mso-style-parent:style0;
	color:white;
	text-align:center;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:black;
	mso-pattern:black none;}
.xl98
	{mso-style-parent:style0;
	color:white;
	text-align:center;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:black;
	mso-pattern:black none;}
.xl99
	{mso-style-parent:style0;
	text-align:center;
	background:#FF6600;
	mso-pattern:black none;}
.xl100
	{mso-style-parent:style0;
	text-align:center;
	background:#00B050;
	mso-pattern:black none;}
.xl101
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl102
	{mso-style-parent:style0;
	mso-number-format:"Medium Time";
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;}
.xl103
	{mso-style-parent:style0;
	mso-number-format:"Medium Time";
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl104
	{mso-style-parent:style0;
	mso-number-format:"Medium Time";
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl105
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl106
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
