{% extends "base.html" %}


{% block body_block %}

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2 class="h2">Someone once told me that the bulk of information are the answers to 'Who?', 'What?', 'When?', 'Where?', 'Why?' and 'How?'</h2><br>

    <h3 class="h3"><strong>Who Hosts PLAN?</strong></h3><hr>
    <p>
    The Computer Club at Western Michigan University! If you'd like to join, talk to an officer or <a href="mailto:cclub@yakko.cs.wmich.edu">shoot us an email</a>. There is a membership fee of $10/year. Members get a discount on PLAN, a shell account on our server and the opportunity to chat with awesome people, young and old! More info about us is available at <a href="https://cclub.cs.wmich.edu">cclub.cs.wmich.edu</a>.<br><br>

    <h3 class="h3"><strong>What is PLAN?</strong></h3><hr>
    <p>
    Grab your computer and get ready for some gaming! PLAN (Parkview LAN party) is a LAN party hosted two times a year by the Computer Club at Western Michigan University.<br>
    We focus on playing Computer games, but there are also plenty of tabletop, arcade and console gaming fun. We also have technology demonstrations, food and beverages, raffles and prizes.<br><br>

    <h3 class="h3"><strong>When is PLAN?</strong></h3><hr>
    <p>
    PLAN is hosted at near the end of Fall and Spring semesters at WMU.<br>
    For timing and scheduling information, go to <a href="/events">events</a>.<br><br>

    <h3><strong>Where is PLAN?</strong></h3><hr>
    <p>
    College of Engineering & Applied Sciences<br>
    4601 Campus Drive<br>
    Kalamazoo, MI 49008<br><br>

    <input type="button" class="btn btn-custom" data-toggle="collapse" data-target="#map-toggle" value="Click here to see a map">
      <div id="map-toggle" class="collapse out"><p>
      <!-- Google Maps iframe embed -->
      <iframe width="920" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=4601+Campus+Drive,+Kalamazoo,+MI&amp;aq=0&amp;oq=4601+Campus+Dr&amp;sll=45.00109,-86.270553&amp;sspn=9.678897,21.643066&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=4601+Campus+Dr,+Kalamazoo,+Michigan+49008&amp;ll=42.254136,-85.640683&amp;spn=0.019788,0.042272&amp;z=14&amp;output=embed"></iframe>
      </p></div><br>

    <h3 class="h3"><strong>Why Should I Go To PLAN?</strong></h3><hr>
    <p>
    Because it's fun! It gets you out of your house and lets you have fun playing video games and interacting with others. PLAN is also an opportunity for you to win prizes.<br><br>

    <h3 class="h3"><strong>How?</strong></h3><hr>
    <p>
    How what? How do you eat a barrel of pudding, pickles and pickled pineapple without throwing up?<br>
    I don't know, ask the internet.<br><br>

    <h3 class="h3"><strong>Just Kidding. How Do I Partake?</strong></h3><hr>
    <p>
    Click <a href="/signup">here</a> to sign up and save money, or show up at the door!<br>
    Computer Club Members: $5.00<br>
    Non-Members: $10 for entrance or $15 for entrance and 1 year membership for Computer Club.<br><br>

  <!-- end div.col-md-offset-2.col-md-2 -->
  </div>
<!-- end div.row -->
</div>

{% endblock %}
