{% extends "base.html" %}

{% block title_block %}About - What is the PLAN? {% endblock %}

{% block body_block %}

<div class="row">
  <div class="col-md-offset-2 col-md-8">
      <h2 class="h2">About PLAN</h2><hr>
    <h2 class="h3">A wise man once said that the bulk of information is the answers to 'Who?', 'What?', 'When?', 'Where?', 'Why?' and 'How?'</h3><br>

    <h3 class="h3"><strong>Who Hosts PLAN?</strong></h3><hr>
    <p>
    The Computer Club at Western Michigan University! If you'd like to join, talk to an officer or <a href="mailto:rso_cclub@wmich.edu?Subject=PLAN29">shoot us an email</a>.
		There is a membership fee of $10/year. Members get a discount on PLAN, a shell account on our server and the opportunity to chat with awesome people,
		young and old! More info about us is available at <a href="https://cclub.cs.wmich.edu">cclub.cs.wmich.edu</a>.<br><br>

    <h3 class="h3"><strong>What is PLAN?</strong></h3><hr>
    <p>
     PLAN(Parkview LAN party) is a LAN party hosted two times a year by the Computer Club at Western Michigan University.<br>
     We focus on playing Computer games, but there is also plenty of tabletop, arcade and console gaming fun.
		 We also have technology demonstrations, food and beverages, raffles and prizes. If you've ever been to a LAN party and liked it,
		 there is something here for you. Any questions can be directed to<a href="mailto:rso_cclub@wmich.edu?Subject=PLAN29"> Computer Club RSO Email</a>.<br><br>

    <h3 class="h3"><strong>When is PLAN?</strong></h3><hr>
    <p>
    PLAN 29 will be on <b>Saturday November 10th, 2018.</b><br>
    PLAN is hosted near the end of Fall and Spring semesters at WMU.<br>
    For timing and scheduling information, go to <a href="/events">events</a>.<br><br>

    <h3><strong>Where is PLAN?</strong></h3><hr>
    <p>
    College of Engineering & Applied Sciences<br>
		Floyd Hall<br>
    4601 Campus Drive<br>
    Kalamazoo, MI 49008<br><br>

		Also known as Western Michigan University's Parkview Campus<br>

    <input type="button" class="btn btn-custom" data-toggle="collapse" data-target="#map-toggle" value="Click here to see a map">
      <div id="map-toggle" class="collapse out"><p>
      <!-- Google Maps iframe embed -->
      <iframe width="920" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=4601+Campus+Drive,+Kalamazoo,+MI&amp;aq=0&amp;oq=4601+Campus+Dr&amp;sll=45.00009,-86.270553&amp;sspn=9.678897,21.643066&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=4601+Campus+Dr,+Kalamazoo,+Michigan+49008&amp;ll=42.254136,-85.640683&amp;spn=0.019788,0.042272&amp;z=14&amp;output=embed"></iframe>
      </p></div><br>

    <h3 class="h3"><strong>Why Should I Go To PLAN?</strong></h3><hr>
    <p>
    Play games, have fun, eat snacks, and get
		prizes including a whitefox keyboard from our <a href="/sponsors/">sponsors!</a><br><br>


    <h3 class="h3"><strong>How does PLAN exist?</strong></h3><hr>
    <p>
    The computer club has been around since '76 and for the last decade we've always had an incredible group of people that come together to organize it.
    <br><br>

    <h3 class="h3"><strong>How Do I Partake? What are the prices? </strong></h3><hr>
    <p>
    Click <a href="https://goo.gl/forms/GnUZFZBDSaVPxTkY2">here</a> take our game survey. Tell us what you want to play! Early sign up will be here soon.(PRE-REGISTRATION ADVISED), or show up at the door!<br>
		Computer Club members: <b>$5.00</b><br>
		Everyone else: <b>$10.00</b><br>
		For entrance and one (1) year Computer Club membership: <b>$15.00</b><br>
	        When pre-registrating groups of <b>3 or more</b>, there is a <b>20% discount!</b><br>
		For the Magic: The Gathering draft, participants are charged an additional <b>$10.00</b> for card packs.<br>

	<h2 class="h2">Frequently Asked Questions (FAQ)</h2><hr>
	<h3 class="h3"><strong>What Do I Have To Bring?</strong></h3>
	Assume you have nothing more than an empty table with power outlets and Ethernet drops.<br>
	You are responsible for bringing all equipment (cords, computers, monitors, etc.)<br>
	The only exception are tournaments that aren't PC based (Magic: The Gathering, Super Smash Bros., etc.)<br>
	<br>
	<h3 class="h3"><strong>Can I Register for More Than 1 Tournament That Run Simultaneously?</strong></h3>
	The short answer is yes.<br>
	Here is the way it works. You can register for more than 1 tournament AT YOUR OWN RISK.<br>
	Some tournament directors may be more flexible than others, but he/she will focus on his/her tournament.<br>
	If you or your team is called to play a round and you are unavailable, the tournament director reserves the right to disqualify you FROM THAT ROUND (you take a loss for that game/round).<br>
  You will not be disqualified from the tournament unless it is repeated enough times that the losses add up.<br><br>

  <h3 class="h3"><strong>I want to participate, but I don't have a team!</strong></h3>
  The best place to find a team is on our <a href="/chat/">Discord server</a>!<br>
  Head into the channel related to the game you need a team for and ask around.
  <br><br>

  <h3 class="h3"><strong>Why $10.00?</strong></h3>
  PLAN is the Computer Club at WMU's main fundraising event.<br>
  Proceeds from this event are the main way Computer Club can provide things such as 3D printers, loaner laptops, and an electronics workbench.<br>
  Without this event, Computer Club would be nowhere near what it is today!

  <!-- end div.col-md-offset-2.col-md-2 -->
  </div>
<!-- end div.row -->
</div>

{% endblock %}
