<html>
  <head>
    <meta charset="UTF-8">
    <title>What is the plan?</title>
    {% load staticfiles %}
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/plan.css" rel="stylesheet">
    <script src="{{STATIC_URL }}js/jquery.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>
  </head>
  <body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
              What is the Plan?
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a class="btn" href="/">Home</a>
            </li>
            <li>
              <a class="btn" href="/events">Events</a>
            </li>
            <li>
              <a class="btn" href="/about">About</a>
            </li>
            {% if user.is_authenticated %}
            {% else %}
            <li>
              <a class="btn" href="/signup">Sign Up</a>
            </li>
            {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li>
              <a class="btn" href="/logout">Log Out</a>
            </li>
            {% else %}
            <li>
              <a class="btn" href="/login">Log In</a>
            </li>
            {% endif %}
          </ul>

        <!-- end div#navbar -->
        </div>

      <!-- end div.container-fluid -->
      </div>
    <!-- end nav.navbar -->
    </nav>

    <div class="container-fluid">
      <!-- The body content goes here -->
      {% block body_block %}{% endblock %}
    </div>

  <!-- end div.container -->
  </div>
  </body>
</html>
