{% extends "base.html" %}

{% block body_block %}

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2 class="h2">Discord Chat</h2>
    <hr>

    <iframe id="twitch" src="https://discordapp.com/widget?id=146131424112541697&theme=dark" width="620" height="378" allowtransparency="true" frameborder="0"></iframe>
    <a href="https://discordapp.com/invite/z3qjh?utm_source=Discord%20Widget&utm_medium=Connect" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Join our Discord chat for PLAN at www.discordapp.com</a>

  </div> <!-- end div.col-md-offset-2.col-md-2 -->
</div> <!-- end div.row -->

{% endblock %}
