{% extends "base.html" %}

{% block body_block %}

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2 class="h2">Discord Chat</h2>
    <hr>

    <iframe src="https://discordapp.com/widget?id=495304127295782912&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    <a href="https://discord.gg/tqmqD2h" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Join our Discord chat for PLAN</a>

  </div> <!-- end div.col-md-offset-2.col-md-2 -->
</div> <!-- end div.row -->

{% endblock %}
