{% extends "base.html" %}


{% block body_block %}

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2 class="h2">Events and Tournaments<hr>
	  <p>Other rooms are available. Start your own tourney, game of cards against humanity, or watch a movie.</p>
	   		  <p style="font-size:17px; color:#000000"><br><b>IMPORTANT: Please sign in in the cafeteria before bringing in systems. That way you'll know where you're going.</b></p>
	   		  <p style="font-size:17px; color:#000000"><br><b>IMPORTANT: Tournaments will start when scheduled. Please arrive early to make sure you're signed in!</b></p>
              		  <p>Sign-in and concessions will be located in the first floor hallway/cafeteria.
              		  <br>Different tournaments are in different rooms.
              		  <br>General gaming will be located in D-115.</p>
					  <p style="font-size:17px; color:#000000"><br><b>The Leauge of Legends Tournament and the CS:GO Tournament will take place simultaneously. Sorry:( <br></b></p>
			   <p style="font-size:17px; color:#000000"><b>League of Legends Tournament</b></p>
			  <p><b>WHEN:</b> Saturday, November 7, 2015. 12PM - 11:59PM.
			  <br><b>ROOM:</b> D-109
			  <br><b>DETAILS:</b> The League of Legends Tournament teams can be reserved before-hand on this site or will be decided on an ad-hoc basis.
			  <br> This tournament will be 5 vs. 5 - Summoner's Rift in a tournament-style draft.
			  <br> The format of the tournament is double elimination. Starting in the finals the round winners will be determined by best out of 3 games.
			  <br> Tournament members must take screenshots of wins and losses for validity.
			  <br>
			  <object data="/static/schedule.pdf" type="application/pdf" width="900" height="700">
			  </object>
  </div>
<!-- end div.row -->
</div>
{% endblock %}
