{% extends "base.html" %}

{% block title_block %}Events - What is the PLAN?{% endblock %}

{% block body_block %}

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2 class="h2">Events and Tournaments<hr>

		<p>Events for PLAN 29 are currently as follows. <br>
		If you have any questions or suggestions please email
		<a href="mailto:rso_cclub@wmich.edu?Subject=PLAN29">Computer Club RSO Email</a>..</p>
		<!--

	<p>Scroll To the Bottom of the Page or Click on the Link Below to See the Graphical Version of the Schedule!</p>

	<a href="/static/PLAN24Schedule.pdf" style="font-size:21px;" target="_blank">Click Here for a Visual Version of the Schedule!</a><br><br>
	  <p style="font-size:17px; color:#000000"><b>Other rooms are available.</b> Start your own tourney, game of cards against humanity, or watch a movie.</p>
	   		  <p style="font-size:17px; color:#000000"><br><b>IMPORTANT: Please sign in before bringing in systems. That way you'll know where you're going.</b></p>
	   		  <p style="font-size:17px; color:#000000"><br><b>IMPORTANT: Tournaments will start when scheduled. Please arrive early to make sure you're signed in!<br><br>NOTE:</b>Tourment end times are not set in stone. Tournaments are likely to end earlier.</p>
              		  <p>Sign-in and concessions will be located in the first floor entryway.
              		  <br>Different tournaments are in different rooms.
              		  <br>General gaming will be located in D-115.</p>
			  <p style="font-size:17px; color:#000000"><br><b>Many tournaments run at the same time. Please consult the FAQ section of the About page if you're interested in more than 1.</b></p><br>


			  <h3 class="h3">Casual Events<hr>
                          <p style="font-size:17px; color:#000000"><b>Dell Demonstration Room</b></p>
                          <p><b>WHEN:</b> TBD
                          <br><b>ROOM:</b> TBA
                          <br><b>DETAILS:</b> One of our sponsors, Dell, will be hosting a demonstration room!
                          <br>Come in during down time to sample new stuff and get cool Dell swag!
                          <br>
                          <br>
                          <br>

                          <p style="font-size:17px; color:#000000"><b>EXCLUSIVE: Tuebor Beta Test</b></p>
                          <p><b>WHEN:</b> TBD
                          <br><b>ROOM:</b> TBA
                          <br><b>DETAILS:</b> Strength in Numbers will be demoing their new game Tuebor!
                          <br>Come in during down time or for the whole day!
			  <br>Play the game before it's fully released and give feedback.
                          <br>Get in on the ground floor of the next big hit!
			  <br><a href="http://tueborgame.com/" target="_blank">Click Here to Check Out Their Website!</a>
                          <br>
                          <br>
                          <br>


			  <p style="font-size:17px; color:#000000"><b>Table-Top Gaming Room</b></p>
			  <p><b>WHEN:</b> TBD
			  <br><b>ROOM:</b> TBA
			  <br><b>DETAILS:</b> The WMU Gamers Guild will be hosting a Table-Top gaming room with games like Munchkin and Settlers of Catan all day!
			  <br>Come in during down time or for the whole day!
			  <br>Beginners are welcome and encouraged, games will be explained for new players!
			  <br>
			  <br>
			  <br>
			  <h3 class="h3">Prized Tournaments<hr>
			  <p style="font-size:17px; color:#000000"><b>League of Legends Tournament</b></p>
			  <p><b>WHEN:</b> TBD.
			  <br><b>ROOM:</b> D-109
			  <br><b>DETAILS:</b> The League of Legends Tournament teams can be reserved before-hand on this site or will be decided on an ad-hoc basis.
			  <br> This tournament will be 5 vs. 5 - Summoner's Rift in a tournament-style draft.
			  <br> The format of the tournament is double elimination. Starting in the finals the round winners will be determined by best out of 3 games.
			  <br> Tournament members must take screenshots of wins and losses for validity.
			  <br><br><b>PRIZES:</b><br>
			  <ul>
				<li>
				<b>1st Place: </b>4200 RP, Ryze, Triumphant Ryze, 10-Win IP Boost
				</li>
				<li>
				<b>2nd Place: </b>3000 RP, 10-Win IP Boost
				</li>
				<li>
				<b>3rd Place: </b>1800 RP, 10-Win IP Boost
				</li>
				<li>
				<b>4th Place: </b>1000 RP, 10-Win IP Boost
				</li>
				<li>
				<b>5th Place: </b>10-Win IP Boost
				</li>
			  </ul>
			  </p>
			  <br>

			  <p style="font-size:17px; color:#000000"><b>DOTA 2 Tournament</b></p>
			  <p><b>WHEN:</b> TBD
			  <br><b>ROOM:</b> TBA
			  <br><b>DETAILS:</b> The DOTA 2 Tournament teams can be reserved before-hand on this site or will be decided on an ad-hoc basis. Tournament Format TBA
			  <br><br><b>PRIZES:</b><br>
			  <ul>
				<li>
                                <b>1st Place: </b>$20 per Team Member
                                </li>
                                <li>
                                <b>2nd Place: </b>$10 per Team Member
                                </li>
                                <li>
                                <b>3rd Place: </b>$5 per Team Member

				</li>
			  </ul>
			  </p>
			  <br>
			  <p style="font-size:17px; color:#000000"><b>Starcraft 2 Tournament</b></p>
			  <p><b>WHEN:</b> TBD.
			  <br><b>ROOM:</b> TBA
			  <br><b>DETAILS:</b> The Starcraft 2 Tournament will be 1v1 and best of 3.
			  <br><br><b>PRIZES:</b><br>
			  <ul>
				<li>
                                <b>1st Place: </b>$30
                                </li>
                                <li>
                                <b>2nd Place: </b>$20
                                </li>
                                <li>
                                <b>3rd Place: </b>$10

				</li>
			  </ul>
			  </p>
			  <br>
			  <p style="font-size:17px; color:#000000"><b>Rocket League Tournament</b></p>
			  <p><b>WHEN:</b> TBD.
			  <br><b>ROOM:</b> TBA
			  <br><b>DETAILS:</b> The Rocket League Tournament will be 3v3, double elimination and best of 3.
			  <br><br><b>PRIZES:</b><br>
			  <ul>
				<li>
                                <b>1st Place: </b>$20 per Team Member
                                </li>
                                <li>
                                <b>2nd Place: </b>$10 per Team Member
                                </li>
                                <li>
                                <b>3rd Place: </b>$5 per Team Member
				</li>
			  </ul>
			  </p>
			  <br>
			  <p style="font-size:17px; color:#000000"><b>CS:GO Tournament</b></p>
			  <p><b>WHEN:</b> TBD
			  <br><b>ROOM:</b> TBA
			  <br><b>DETAILS:</b>Best of 3. Double Elimination. The CS:GO Tournament teams can be reserved before-hand on this site or will be decided on an ad-hoc basis.
			  <br><br><b>PRIZES:</b><br>
			  <ul>
				<li>
                                <b>1st Place: </b>$20 per Team Member
                                </li>
                                <li>
                                <b>2nd Place: </b>$10 per Team Member
                                </li>
                                <li>
                                <b>3rd Place: </b>$5 per Team Member
				</li>
			  </ul>
			  </p>
			  <br>
			  <p style="font-size:17px; color:#000000"><b>Street Fighter 5 Tournament</b></p>
			  <p><b>WHEN:</b> TBD.
			  <br><b>ROOM:</b> TBA
			  <br><b>DETAILS:</b>The tournament will be in 1v1 format, best 2 out of 3.
			  <br><br><b>PRIZES:</b><br>
			  <ul>
				<li>
                                <b>1st Place: </b>$30
                                </li>
                                <li>
                                <b>2nd Place: </b>$20
                                </li>
                                <li>
                                <b>3rd Place: </b>$10

				</li>
			  </ul>
			  </p>
			  <br>
			  <p style="font-size:17px; color:#000000"><b>Super Smash Bros. Tournament</b></p>
			  <p><b>WHEN:</b> TBD.
			  <br><b>ROOM:</b> D-109
			  <br><b>DETAILS:</b> Our Super Smash Bros. tournament is brought to you with the help of <a href="https://www.facebook.com/kzoosmash" shape="rect" target="_blank">KZOO Smash</a>.
			  <br>The tournament will be using the Project M version of Smash. 1v1. Other tournament details to be decided.
			  <br><br><b>PRIZES:</b><br>
			  <ul>
				<li>
                                <b>1st Place: </b>$30
                                </li>
                                <li>
                                <b>2nd Place: </b>$20
                                </li>
                                <li>
                                <b>3rd Place: </b>$10

				</li>
			  </ul>
			  </p>
			  <br>
			  <p style="font-size:17px; color:#000000"><b>Magic: The Gathering Tournament</b></p>
			  <p><b>WHEN:</b> TBD
			  <br><b>ROOM:</b> TBA
			  <br><b>DETAILS:</b> The format of the Magic: The Gathering Tournament will be a booster draft. Bring $10 for purchasing cards.
			  <br><br><b>PRIZES:</b><br>
			  <ul>
				<li>
				<b>1st Place: </b>5 Booster Packs
				</li>
				<li>
				<b>2nd Place: </b>3 Booster Packs
				</li>
				<li>
				<b>3rd Place: </b>1 Booster Pack
				</li>
			  </ul>
			  </p>
			  <br>
			  <p style="font-size:17px; color:#000000"><b>Hearthstone Tournament</b></p>
			  <p><b>WHEN:</b> TBD
			  <br><b>ROOM:</b> TBA
			  <br><b>DETAILS:</b> 1v1, best of 3 and double elimination
			  <br><br><b>PRIZES:</b><br>
			  <ul>
				<li>
                                <b>1st Place: </b>$30
                                </li>
                                <li>
                                <b>2nd Place: </b>$20
                                </li>
                                <li>
                                <b>3rd Place: </b>$10

				</li>
			  </ul>
			  </p>
			<br><br>

			-->

		<p>Schedule coming soon!</p>
		<!-- <object data="/static/PLAN28Schedule.pdf" type="application/pdf" width="900" height="700"></object> -->
  </div>
<!-- end div.row -->
</div>
{% endblock %}
