{% extends "base.html" %}

{% block title_block %}Events - What is the PLAN?{% endblock %}

{% block body_block %}

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2 class="h2">Events and Tournaments</h2><hr>

		<p>Events for PLAN 29 are currently as follows. <br>
		If you have any questions or suggestions please email
		<a href="mailto:rso_cclub@wmich.edu?Subject=PLAN29">Computer Club RSO Email</a>.</p>

	<!-- <p>Scroll To the Bottom of the Page or Click on the Link Below to See the Graphical Version of the Schedule!</p> -->

	<!-- <a href="/static/PLAN24Schedule.pdf" style="font-size:21px;" target="_blank">Click Here for a Visual Version of the Schedule!</a><br><br> -->
	  <p style="font-size:17px; color:#000000"><b>Other rooms are available.</b> Start your own tourney, game of cards against humanity, or watch a movie.</p>
	   		  <p style="font-size:17px; color:#000000"><br><b>IMPORTANT: Please sign in before bringing in systems. That way you'll know where you're going.</b></p>
				 <p style="font-size:17px; color:#000000"><br><b>IMPORTANT: Tournaments will start when scheduled. Please arrive early to make sure you're signed in!<br><br>
				
					NOTE:</b>Tourment end times are not set in stone. Tournaments are likely to end earlier.</p>
              		  <p>Sign-in and concessions will be located in the first floor entryway.
						<br>Different tournaments are in different rooms.</p>
						
			  <p style="font-size:17px; color:#000000"><br><b>Many tournaments run at the same time. Please consult the FAQ section of the About page if you're interested in more than 1.</b></p><br>

			  <h3 class="h3">Prized Tournaments<hr>

			  <p style="font-size:17px; color:#000000"><b>Rocket League Tournament</b></p>
			  <p><b>WHEN:</b> 2:00pm.
			  <br><b>DETAILS:</b> Team sizes will be determined by attendance. Double elimination.
			  <br><br><b>PRIZE:</b> PS4 DualShock4 controller for each player on the winning team.<br>
			  </p>
			  <br>

			  <p style="font-size:17px; color:#000000"><b>Super Smash Bros. Melee Tournament</b></p>
			  <p><b>WHEN:</b> 3:00pm.
			  <br><b>DETAILS:</b> Single elimination.
			  <br><br><b>PRIZE:</b> Cash. Prize pool amount will depend on attendance.<br>
			  </p>
			  <br>

			  <p style="font-size:17px; color:#000000"><b>Magic: The Gathering Tournament</b></p>
			  <p><b>WHEN:</b> 9:00
			  <br><b>DETAILS:</b> The format of the Magic: The Gathering Tournament will be a booster draft. Bring $10 for purchasing cards.
			  <br><br><b>PRIZE:</b> 5 Booster Packs.<br>
			  </p>
			  <br>
			  
			  <p style="font-size:17px; color:#000000"><b>Hearthstone Tournament</b></p>
			  <p><b>WHEN:</b> 9:00
			  <br><b>DETAILS:</b> 1v1, best of 3 and double elimination
			  <br><br><b>PRIZE:</b> Whitefox Mechanical Keyboard<br>
			  </p>
			  <br>
			  <br>

		<!-- <p>Schedule coming soon!</p> -->
		<!-- <object data="/static/PLAN29Schedule.pdf" type="application/pdf" width="900" height="700"></object> -->
		(Click the image for a pdf version)
		<a href="{{ STATIC_URL}}/PLAN29Schedule.pdf">
			<img src="{{ STATIC_URL }}/PLAN29Schedule.png" alt="PLAN 29 Event Schedule" style="width:100%">
		</a>
  </div>
<!-- end div.row -->
</div>
{% endblock %}
