{% extends "base.html" %}


{% block body_block %}

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2 class="h2">Welcome to PLAN!</h2><hr>

    <p>PLAN (Parkview LAN Party) is a semiannual LAN Party Hosted by the Computer Club of Western Michigan University at the Parkview Engineering Campus. Last year we served over 150 attendees.
    </p>
    <h2> 
    <br>Join us <b style="font-size:25px">November 7th and November 8th for PLAN23</b>
              </h2>
              <!--<p>Tickets are $10, but that is for the whole weekend! You can register for multiple tournaments as long as the times don't conflict.</p>
	      <p>Information about each event/tournament can be found <a href="./events.html" shape="rect">here</a>.</p>
	      <p style="font-size:23px"><a href="./signup.html" shape="rect">Click Here to Signup Now and Be Entered to Win a Raffle at PLAN!</a></p>-->
              <h1>Announcements:</h1>
              <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 13px;
}
</style>
</head>

<body>

<table style="width:100%">
  <tr>
    <th style="font-size:23px">Date</th>
    <th style="font-size:23px">Announcement</th>		
  </tr>
    <tr>
	<td style="font-size:16px">10/1/2015</td>
    <td style="font-size:16px">REGISTRATION IS NOW OPEN!!!</td>
   </tr>
  <tr>
  </tr>
    <tr>
	<td style="font-size:16px">10/23/2015</td>
    <td style="font-size:16px">50 have already preregistered</td>
   </tr>
	<td style="font-size:16px">10/24/2015</td>
	<td style="font-size:16px">Site is now Mobile friendly</td>
   </tr>
<tr>
	<td style="font-size:16px">10/24/2015</td>
	<td style="font-size:16px">4 awesome new sponsors</td>
   </tr>


</table>







  
  </div>
<!-- end div.row -->
</div>
{% endblock %}
