{% extends "base.html" %}

{% block title_block %}
<title>Home - What is the PLAN?</title>
{% endblock %}

{% block body_block %}
<!-- Why the *fuck* are we not linking to external scripts and stylesheets?-->
<!-- picardfacepalm.png -->
<!-- Because we are fools-->
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2 class="h2">Welcome to Whatistheplan.com!</h2><hr>
    <p>PLAN (Parkview LAN Party) is a semiannual LAN Party Hosted by the Computer Club of Western Michigan University at the Parkview Engineering Campus.<br>
		Attendance is usually 150-200 people, and we are growing every year.</p><br>
		
    <h2>Join us <b style="font-size:25px">November 12th for PLAN 25!</b></h2><br>
    <p>Admission is $10 for the <b>whole weekend!</b><br>
		Please direct any questions to <a href="mailto:ryan.a.sloan@wmich.edu?Subject=PLAN25">ryan.a.sloan@wmich.edu</a> or
		<a href="mailto:plan@yakko.cs.wmich.edu?Subject=PLAN25">plan@yakko.cs.wmich.edu</a>.<br>
	  Information about each event/tournament can be found <a href="./events.html" shape="rect">here</a>.</p>
	<br><br>

	<p style="font-size:25px">
	<a style="font-size:25px" href="https://drive.google.com/file/d/0ByjGUrImMrjodWY1N05wVjdmM28/view" shape="rect">
	Click Here to Download Strength In Numbers' New Game!!!
	</a>
	</p>
<!--      <p style="font-size:23px"><a href="./signup.html" shape="rect">Click Here to Signup Now and Be Entered to Win a Raffle at PLAN!</a></p>
             
	<br>
	<p>
	<h2>Raffle Prizes</h2>

	<b>How do I get raffle tickets?</b><br>
	NOTE: RAFFLE AND TOURNAMENT PRIZES HAVE CHANGED.<br>
	No Purchase Necessary. Must be Present to Win<br>
	Winning the Preregistration "Raffle" gives you 5 tickets.<br>
	Preregistering gives you 3 tickets.<br>
	Attending gives you 1 ticket.<br>
	<br>
	The prizes you could win are:
	<ul>
		<li>
		D-Link DIR-880L/R Wireless AC1900 Dual Band Gigabit Cloud Router
		</li>
		<li>
		SteelSeries Mechanical Keyboards (x2)
		</li>
		<li>
		Corsair M65 Mouse
		</li>
		<li>
		Corsair VOID Stereo Headset
		</li>
		<li>
		Corsair MM200 Mouse Mat
		</li>
		<li>
		Corsair Coffee Mugs
		</li>
		<li>
		Seasonic Power Supply (x2)
		</li>
		<li>
		Various Gift Certificates
		</li>
		<li>
		First 48 People in the Door get free Bawls!
		</li>
	</ul>
	</p>

			 <h1>Announcements:</h1>
              <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 13px;
}
</style>
</head>

<body>

<table style="width:100%">
  <tr>
    <th style="font-size:23px">Date</th>
    <th style="font-size:23px">Announcement</th>		
  </tr>
  <tr>
    <td style="font-size:16px">11/5/2015</td>
	<td style="font-size:16px">Due to more Sponsors, raffle and tournament prizes have changed!</td>
   </tr>
  <tr>
    <td style="font-size:16px">10/29/2015</td>
	<td style="font-size:16px">Super Smash Bros. Tournament Moved to Sunday!!! </td>
   </tr>
 <tr>
    <td style="font-size:16px">10/29/2015</td>
	<td style="font-size:16px">WMU Gamers Guild will host a Table-Top Gaming Room. More info on the events page!</td>
   </tr>
    <tr>
	<td style="font-size:16px">10/29/2015</td>
	<td style="font-size:16px">We have lots of amazing sponsors and prizes. Check out our sponsors page!</td>
   </tr>
 <tr>
    <td style="font-size:16px">10/28/2015</td>
    <td style="font-size:16px">PLANchat is live.</td>
  </tr>
  <tr>
  	<td style="font-size:16px">10/24/2015</td>
	<td style="font-size:16px">Site is now Mobile friendly</td>
   </tr>
    <tr>
	<td style="font-size:16px">10/23/2015</td>
    <td style="font-size:16px">50 have already preregistered</td>
   </tr>
    <tr>
	<td style="font-size:16px">10/1/2015</td>
    <td style="font-size:16px">REGISTRATION IS NOW OPEN!!!</td>
   </tr>

</table>
-->

<br><br>    

<!--Kami Posters location -->

<div style="text-align:center;">
<div id="image-container" style="position:relative;margin:0 auto;width:80%;height:auto;">
<!-- img src="/static/POSTER.jpg" alt="Glorious Kami Poster" style="height:1061;width:820;"-->
<!--img src="/static/POSTER.jpg" alt="Glorious Kami Poster" style="width:100%;height:auto;"-- >
</div>
</div>



  
  </div>
<!-- end div.row -->
</div>
{% endblock %}
