{% extends "base.html" %}

{% block title_block %}Home - What is the PLAN?{% endblock %}

{% block body_block %}
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <img src="{{ STATIC_URL }}/img/plan_26_logo.png" alt="PLAN 26" style="width:40%;height:auto;float:left;">
    <h2 class="h2">What Is the PLAN?</h2>
    <hr>
    <p>PLAN (Parkview LAN Party) is a semiannual LAN Party Hosted by the Computer Club of Western Michigan University at the Parkview Engineering Campus.

    <p>Attendance is usually 150-200 people, and we are growing every year.
    
    <p>PLAN 26 is <b>Saturday and Sunday April 1st and 2nd, 2017!</b>
    <a href="/signup/">Click here to sign up now!</a></p>
    
    
    <p>Admission is $10 for the <b>whole weekend!</b> ($5 for Computer Club members)

    <p>Please direct any questions to <a href="mailto:plan@yakko.cs.wmich.edu?Subject=PLAN25">plan@yakko.cs.wmich.edu</a>.

    <p>Information about each event/tournament can be found <a href="./events/" shape="rect">here</a>.
  </div> <!-- end div.col-md-offset-2.col-md-2 -->
</div> <!-- end div.row -->

{% endblock %}
