{% extends "base.html" %}

{% block title_block %}
<title>Photos - What is the PLAN?</title>
{% endblock %}

{% block body_block %}

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h1 class="h1">Previous PLAN photos</h1><br>
    <iframe style="margin-top: 1px;" width="100%" height="500" frameborder="0"
    src="https://www.flickr.com/photos/129058274@N06/albums/72157666217459351/player"></iframe>
  <!-- end div.col-md-offset-2.col-md-2 -->
  </div>
<!-- end div.row -->
</div>

{% endblock %}