{% extends "base.html" %}

{% block body_block %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal" action="/signup/" method="post">{% csrf_token %}
      <h2 class="page-header bold-italic">{{ signup_msg }}</h2>

      <div class="form-group">
        {{ profile_errors.name }}
        <label for="name" class="control-label col-xs-4">Full Name:</label>
        <div class="col-xs-6">
          {{ profile_form.name }}
        </div>
      </div>
      <hr>

      <div class="form-group">
        {{ user_errors.user }}
        <label for="username" class="control-label col-xs-4">username:</label>
        <div class="col-xs-6">
          {{ user_form.username }}
        </div>
      </div>
      <hr>

      <div class="form-group">
        {{ user_errors.password }}
        <label for="password" class="control-label col-xs-4">enter a password:</label>
        <div class="col-xs-6">
          {{ user_form.password }}
        </div>
      </div>
      <hr>

      <div class="form-group">
        {{ user_errors.email }}
        <label for="email" class="control-label col-xs-4">email:</label>
        <div class="col-xs-6">
          {{ user_form.email }}
        </div>
      </div>
      <hr>

      <div class="form-group">
        {{ profile_errors.mac }}
        <label for="mac" class="control-label col-xs-4">mac address (for network registration):</label>
        <div class="col-xs-6">
          {{ profile_form.mac_address }}
        </div>
      </div>
      <hr>

      <div class="form-group">
        {{ profile_errors.steam }}
        <label for="steam" class="control-label col-xs-4">steam username:</label>
        <div class="col-xs-6">
          {{ profile_form.steamid }}
        </div>
      </div>
      <hr>

      <div class="form-group">
        {{ profile_errors.irc }}
        <label for="irc" class="control-label col-xs-4">irc handle (if applicable):</label>
        <div class="col-xs-6">
          {{ profile_form.irc }}
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xs-2 col-xs-offset-8">
          <button class="btn btn-lg btn-primary pull-right btn-custom" type='submit'>Submit</button>
        </div>
      </div>
    </form>
    <!-- end div.col-md-4.col-md-offset-4 -->
  </div>
<!-- end div.row -->
</div>

{% endblock %}
