{% extends "base.html" %}


{% block body_block %}

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form action="/signup" action="post">
      <h2 class="page-header">creating an account</h2>

      <p><h3 class="h3">first name</h3><hr>
      <p><input class="form-control input-lg" type="text" name="firstname" placeholder="first name">

      <p><h3 class="h3">last name</h3><hr>
      <p><input class="form-control input-lg" type="text" name="lastname" placeholder="last name">

      <p><h3 class="h3">username</h3><hr>
      <p><input class="form-control input-lg" type="text" name="username" placeholder="username">

      <h3 class="h3">enter a password:</h3><hr>
      <p><input class="form-control input-lg" type="password" name="password" placeholder="password">

      <h3 class="h3">repeat password:</h3><hr>
      <p><input class="form-control input-lg" type="password" name="password" placeholder="password">

      <h3 class="h3">email:</h3><hr>
      <p><input class="form-control input-lg" type="text" name="email" placeholder="email"><br>

      <p><button class="btn btn-lg btn-primary btn-custom" type='submit'>Submit</button>
    </form>
    <!-- end div.col-md-4.col-md-offset-4 -->
  </div>
<!-- end div.row -->
</div>
{% endblock %}
