{% extends "base.html" %}

{% block body_block %}

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2 class="h2"> PLAN 25 is proudly sponsored by the following companies: </h2><hr>

<body>
  
<!--
<a href="http://www.dell.com/learn/us/en/6099/campaigns/welcome-to-dell-university?c=us&l=en&s=eep&link_number=17970622" target="_blank">
<img src="{{ STATIC_URL }}/sponsors/Dell-Logo.png" alt="Dell University" style="width:40%;height:auto;">
</a>

<a href="http://dominos.com" target="_blank">
<img src="{{ STATIC_URL }}/sponsors/NewDominos.jpg" alt="Dominos" style="width:40%;height:auto;">
</a>
<!--<a href="http://www.seasonicusa.com/" target="_blank">
<img src="{{ STATIC_URL }}/sponsors/seasonic logo.png" alt="Seasonic" style="width:40%;height:auto;">
</a>
<a href="http://www.bawls.com/" target="_blank">
<img src="{{ STATIC_URL }}/sponsors/BAWLS_logo.jpg" alt="BAWLS" style = "width:40%;height:auto;">
</a>

<a href="http://www.fanfareland.com/" target="_blank">
<img src="{{ STATIC_URL }}/sponsors/fanfare_logo.jpg" alt="fanfare" style = "width:40%;height:auto;">
</a>

<a href="http://www.steelseries.com/" target="_blank">
<img src="{{ STATIC_URL }}/sponsors/SteelSeries_logo.png" alt="SteelSeries" style = "width:40%;height:auto;">
-->

</body>

  </div>
<!-- end div.row -->
</div>
{% endblock %}
