{% extends "base.html" %}

{% block title_block %}Sponsors - What is the PLAN?{% endblock %}

{% block body_block %}

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    
    <h2 class="h2"> PLAN 26</h2><hr>
    <p></p>If you would like to sponsor PLAN 26, or have any other inquiries, please send an email to 
    <a href="mailto:plan@yakko.cs.wmich.edu?Subject=PLAN25%20Sponsors">plan@yakko.cs.wmich.edu</a>.</p>
    
    <p>Any and all sponsors are appreciated!</p>
    
    <h2 class="h2"> PLAN 25 </h2><hr><br>
    <p>Thank you for those who sponsored us for PLAN 25! We deeply appreciate it!</p>
    
    <a href="https://www.teksystems.com/en" target="_blank">
    <img src="{{ STATIC_URL }}/sponsors/teksystems-logo.png" alt="Tek Systems" style="width:40%;height:auto;">
    </a>
    
    <a href="http://www.velocitymicro.com/gaming-pc.php" target="_blank">
      <img src="{{ STATIC_URL }}/sponsors/velocitymicro-logo.png" alt="Velocity Micro" style="width:40%;height: auto;">
    </a>

    <hr><h2 class="h2"> PLAN 24 </h2><hr>
    
    <p>A big thanks to the following who sponsored PLAN24:</p>
  
    <a href="http://www.dell.com/learn/us/en/6099/campaigns/welcome-to-dell-university?c=us&l=en&s=eep&link_number=17970622" target="_blank">
    <img src="{{ STATIC_URL }}/sponsors/Dell-Logo.png" alt="Dell University" style="width:40%;height:auto;">
    </a>

    <a href="http://dominos.com" target="_blank">
    <img src="{{ STATIC_URL }}/sponsors/NewDominos.jpg" alt="Dominos" style="width:40%;height:auto;">
    </a>

    <a href="http://www.seasonicusa.com/" target="_blank">
    <img src="{{ STATIC_URL }}/sponsors/seasonic logo.png" alt="Seasonic" style="width:40%;height:auto;">
    </a>

    <a href="http://www.bawls.com/" target="_blank">
    <img src="{{ STATIC_URL }}/sponsors/BAWLS_logo.jpg" alt="BAWLS" style = "width:40%;height:auto;">
    </a>

    <a href="http://www.fanfareland.com/" target="_blank">
    <img src="{{ STATIC_URL }}/sponsors/fanfare_logo.jpg" alt="fanfare" style = "width:40%;height:auto;">
    </a>

    <a href="http://www.steelseries.com/" target="_blank">
    <img src="{{ STATIC_URL }}/sponsors/SteelSeries_logo.png" alt="SteelSeries" style = "width:40%;height:auto;">

  </div>
<!-- end div.row -->
</div>
{% endblock %}
