{% extends "base.html" %}

{% block title_block %}Sponsors - What is the PLAN?{% endblock %}

{% block body_block %}

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    
    <h2 class="h2"> PLAN 26</h2><hr>
    <p></p>If you would like to sponsor PLAN 26, or have any other inquiries, please send an email to 
    <a href="mailto:plan@yakko.cs.wmich.edu?Subject=PLAN25%20Sponsors">plan@yakko.cs.wmich.edu</a>.</p>
    
    <p>Any and all sponsors are appreciated!</p>
    
    <a href="https://www.meijer.com/" target="_blank">
    <img src="{{ STATIC_URL }}/sponsors/meijer_logo.svg" alt="Meijer" style="width:40%;height:auto;">
    </a>

    <a href="http://geek-easy.com/" target="_blank">
    <img src="{{ STATIC_URL }}/sponsors/geekeasy-logo.jpg" alt="Geek Easy" style="width:40%;height:auto;">
    </a>
    
    <h2 class="h2"> PLAN 25 </h2><hr><br>
    <p>Thank you for those who sponsored us for PLAN 25! We deeply appreciate it!</p>
    
    <a href="https://www.teksystems.com/en" target="_blank">
    <img src="{{ STATIC_URL }}/sponsors/teksystems-logo.png" alt="Tek Systems" style="width:40%;height:auto;">
    </a>
    
    <a href="http://www.velocitymicro.com/gaming-pc.php" target="_blank">
      <img src="{{ STATIC_URL }}/sponsors/velocitymicro-logo.png" alt="Velocity Micro" style="width:40%;height: auto;">
    </a>

  </div>
<!-- end div.row -->
</div>
{% endblock %}
