{% extends "base.html" %}


{% block body_block %}

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2 class="h2">Twitch Stream</h2><hr>
    <iframe id="twitch" src="http://www.twitch.tv/ccowmu/embed" frameborder="0" scrolling="no" height="378" width="620"></iframe><a href="http://www.twitch.tv/ccowmu?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from ccowmu on www.twitch.tv</a>
  <!-- end div.col-md-offset-2.col-md-8 -->
  </div>
<!-- end div.row -->
</div>
{% endblock %}
